@tailwind base;
@tailwind components;

@layer base {
  body {
    font-family: skolar-sans, Calibri, Verdana;
    font-size: 1rem;
    line-height: 1.5;
    @apply text-dark-2;
  }

  [role="button"] button,
  .button {
    user-select: none;
  }

  [role="button"]:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  .button {
    cursor: pointer;
  }

  [disabled] {
    cursor: not-allowed;
  }
  [disabled]:hover {
    opacity: initial;
  }

  p {
    @apply mb-2 mt-0;
  }
  p:last-child {
    margin-bottom: 0;
  }

  input,
  textarea {
    background-image: none;
    background-clip: padding-box;
  }

  iframe {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  a {
    @apply cursor-pointer;
  }
}

@layer components {
  /* .container {} */
  @screen md {
    .container {
      max-width: 768px;
    }
  }
  @screen lg {
    .container {
      max-width: 90%;
    }
  }
  @screen xl {
    .container {
      max-width: 1280px;
    }
  }
  @screen 2xl {
    .container {
      max-width: 1440px;
    }
  }
}
